DATABASE_URL="postgresql://[USER]:[Password]@[HOST]:[PORT]/[DATABASE_NAME]?schema=[SCHEMA_NAME]"

CLIENT_URL=http://localhost:3000

COOKIE_SECRET = cookie-secret

PORT = 3000

ACCESS_SECRET = access-secret
ACCESS_EXPIRES = 1h

REFRESH_SECRET = refresh-secret
REFRESH_EXPIRES = 30d